#body
  overflow: auto
  flex: 1

.messages
  width: 600px
  margin: 0 auto

.message
  opacity: 0

.message > .message
  padding-left: 24px

.message-content
  display: flex
  padding: 8px 0
  i
    font-size: 48px
    flex: 0 0 auto

.message-text
  flex: 1
