$form_width: 600px
$form_background: #eee

#form
  width: 100%
  background: $form_background
  display: none
  form
    width: $form_width
    margin: 0 auto
    padding: 16px
    textarea
      width: 100%
    button
      margin-top: 16px
