$header_height: 80px
$header_background: #000
$header_color: #fff

#header
  position: fixed
  top: 0
  left: 0
  right: 0
  background:
  background: $header_background
  text-align: center
  color: $header_color
