DOCTYPE(html)
html
  head(lang='ru')
    meta(charset='UTF-8')
    title Jquery Chat
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel='stylesheet' href='/main.css')
    script(type='text/javascript' src='/js/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/app.js')

  body
    #container
      #header
        h1 FIXED HEADER
      #body
        .messages
      #form
        form()
          textarea(rows=5, name='answer')
          .centered
            button#submit_button(type='submit') Отправить
            button#close_form(type='button') Отменить
